<!DOCTYPE html>
<html>
  <head>
    <title>Image Upload and Prediction</title>
    <style>
      .image-preview {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
      }
      .image-preview img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Image Upload and Prediction</h1>
    <form id="form">
      <input type="file" name="folder" multiple />
      <button type="submit">Predict</button>
    </form>
    <div class="image-preview"></div>
    <h2>Image Classification Result:</h2>
    <div id="result">
      <!-- Display the result here -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        $("#form").submit(function(e) {
          e.preventDefault();
          var formData = new FormData(this);
          $.ajax({
            type: "POST",
            url: "/predict",
            data: formData,
            processData: false,
            contentType: false,
            success: function(data) {
              $(".image-preview").html("");
              var files = $("input[name='folder']")[0].files;
              for (var i = 0; i < files.length; i++) {
                var reader = new FileReader();
                reader.onload = (function(file) {
                  return function(e) {
                    var img = document.createElement("img");
                    img.src = e.target.result;
                    $(".image-preview").append(img);
                  };
                })(files[i]);
                reader.readAsDataURL(files[i]);
              }
              $("#result").html("Infected: " + data[0] + ", Uninfected: " + data[1]);
            },
            error: function(error) {
              console.log(error);
            }
          });
        });
      });
    </script>
  </body>
</html>
